@import url(https://fonts.googleapis.com/css?family=Slabo+13px);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
body {
  font-family: "slabo", sans-serif;
  margin: auto;
  background-color: #2699A1;
}
header img {
  margin-top: 14px;
  margin-left: 20px;
  float: left;
}
header {
  background-color: black;
}

h1 a {
  color: black;
  text-decoration: none;
}

h1 {
  border-left:5px solid black;
    border-right:5px solid black;
    border-top:5px solid black;
  font-size: 40px;
  background-color: white;
  padding:25px;
  margin: auto;
  text-align: center;
  width: 500px;
}
h2{
  padding: 10px;
background-color: white;
  border: 2px solid black;
  text-align: center;
}

#navlinks {
width: 500px;
  margin: auto;
  padding: 10px;
}
nav {
  border: 5px solid black;
  background-color: white;
}
#navlinks a {
  text-decoration: none;
color: #3B747B;
  padding: 40px;

}


#body1 img {
  float: left;
}

#body1 {

  margin: auto;
  width: 500px;
}

footer {

  margin: auto;
  width: 500px;
  padding:15px;
}

#body2 {
  margin: auto;
  width: 500px;
}

#menu {
    margin: auto;
    width: 1000px;
    padding:15px;
}

#apps {
  
  border: 2px solid black;
  margin: 5px;
  float: left;
  width:500px;
  padding: 5px

}

#soups {
  border: 2px solid black;
  margin: 5px;
  padding:5px;
  width: 300px;
  float: left;
}

#sandwiches {
  border: 2px solid black;
  margin: 5px;
  float: left;
  width: 300px;
  padding: 5px
}

#beansnrice {
  border: 2px solid black;
  margin: 5px;
  padding:5px;
  width: 500px;
  float: left;
}

h3 {
  border-bottom: 2px solid black;
}

#upcoming_events {
  margin: auto;
  width: 1000px;
  padding:15px;
}

#widget {
  margin: auto;
  width: 1000px;
  padding:15px;
}

#follow {
  margin: auto;
  padding:15px;
}
h4 a {

  color: #fd6153;
  text-decoration: none;
}
